<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Black (2014-07-09 11:53)</string>
	<string>M6.5-2110-1</string>
	<string>M6.6-2550-2</string>
	<string>M6.6.2-2571-1</string>
	<string>M7.0-3507-1</string>
	<string>M7.0.5-4052-1</string>
	<string>M7.3.1-5249-2</string>
	<string>M8.2-5869-2</string>
	<string>M8.3-5989-2</string>
	<string>M9.1-6369-2</string>
	<string>G-r410-4B101</string>
</array>
</plist>
